.black{
    background: black;
    height: 100px;
    width: 100px;
    border: solid 1px black;
}

.white{
    background: white;
    height: 100px;
    width: 100px;
    border: solid 1px white;
}