.outer_box{
    height: 800px;
    width: 800px;
    border: solid 4px black;
    margin: auto;
}

.row{
    height: 100px;
    width: 800px;
    background-color: blue;

}

.black{
    height: 100px;
    width: 100px;
    background-color: rgb(160, 155, 155);
    float: left;
    text-align: center;
    font-size: 70px;
}
.white{
    height: 100px;
    width: 100px;
    background-color: white;
    float: left;
    text-align: center;
    font-size: 70px;
}